# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
*.publish/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Dotnet CLI
*.dotnet/

# Logs
*.log

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Others
*.vs/
_ReSharper*/
*.dbmdl
*.bak
*.sql
*.pdb

# Local environment
.env
.env.*

# Mac files
.DS_Store

# Windows files
Thumbs.db
desktop.ini